@import "../../index.css";

.container {
  position: relative;
  padding: 10px;
  margin: 12px auto;
  width: 500px;
}

.weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--light-color);
}

img {
  object-fit: scale-down;
  width: 150px;
}

.image {
  display: flex;
  justify-content: center;
  padding: 10px;
  justify-items: center;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  line-height: 3.5rem;
  justify-items: center;
}

.dates {
  display: relative;
  color: white;
  text-align: center;
}

.description {
  margin-top: 4px;
  display: flex;
  gap: 20px;
  justify-items: center;
  justify-content: center;
  color: white;
}
